<h2>Census Records by <%= @attribute_name.titleize %></h2>


<table>
	<thead>
		<tr>
			<th>
				<%= @attribute_name.titleize %>
			</th>
			<th>
				Number of Entries
			</th>
			<th>
				Average Real Estate ($)
			</th>
			<th>
				Average Personal Estate ($)
			</th>
			<th>
				Maximum Real Estate ($)
			</th>
			<th>
				Maximum Personal Estate ($)
			</th>
			<th>
				Entries with Non-Blank Real Estate  (%)
			</th>
			<th>
				Entries with Non-Blank Personal Estate (%) 
			</th>
		</tr>
	
	</thead>
	<tbody>
		<% @value_total_pairs.each do |pair| %>
		
			<tr>
				<td>
					<%= pair['value'] %>
				</td>
				<td>
					<%= link_to(pair['total'], federal1860_census_entries_path(:filter_key => @attribute_name, :filter_value => pair['value'])) %>
				</td>
				<td>
					<%= pair['avg_re'] %>
				</td>
				<td>
					<%= pair['avg_pe'] %>
				</td>
				<td>
					<%= pair['max_re'] %>
				</td>
				<td>
					<%= pair['max_pe'] %>
				</td>
				<td>
					<%= pair['pct_blank_re'].to_i %>
				</td>
				<td>
					<%= pair['pct_blank_pe'].to_i %>
				</td>
				
			</tr>
		
		<% end %>
	
	</tbody>
	
</table>