<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @soldier.name %>
<br />
  <b>Rank:</b>
  <%= @soldier.rank %>
<br />
  <b>Regiment:</b>
  <%= @soldier.regiment %>
<br />
  <b>Company:</b>
  <%= @soldier.company %>
<br />
  <b>Notes:</b>
  <%= @soldier.notes %>
<br />
  <b>Enlistment:</b>
  <%= @soldier.enlistment %>
<br />
  <b>Enlistment age:</b>
  <%= @soldier.enlistment_age %>
<br />
  <b>Prewar jobs:</b>
  <%= @soldier.prewar_jobs %>
<br />
  <b>Awol:</b>
  <%= @soldier.awol %>
<br />
  <b>Promotions or other jobs:</b>
  <%= @soldier.promotions_or_other_jobs %>
<br />
  <b>Wounding or illness:</b>
  <%= @soldier.wounding_or_illness %>
<br />
  <b>Not ill:</b>
  <%= @soldier.not_ill %>
<br />
  <b>Pow:</b>
  <%= @soldier.pow %>
<br />
  <b>Death:</b>
  <%= @soldier.death %>
<br />
  <b>Discharge:</b>
  <%= @soldier.discharge %>
<br />
  <b>Postwar info:</b>
  <%= @soldier.postwar_info %>
<br />
  <b>Notes regt:</b>
  <%= @soldier.notes_regt %>
<br />
  <b>Federal1860 census entry:</b>
  <%= link_to(@soldier.federal1860_census_entry_id, federal1860_census_entry_path(@soldier.federal1860_census_entry_id)) %>
<br />
  <b>Pensioner:</b>
  <%= @soldier.pensioner %>
<br />
  <b>Federal1870 census entry:</b>
  <%= link_to(@soldier.federal1870_census_entry_id, federal1870_census_entry_path(@soldier.federal1870_census_entry_id)) %>
<br />
  <b>Federal1870 family member:</b>
  <%= @soldier.federal1870_family_member_id %>
<br />
  <b>Wife 1870:</b>
  <%= @soldier.wife_1870 %>
<br />
  <b>Children 1870:</b>
  <%= @soldier.children_1870 %>
<br />
  <b>Other family members 1870:</b>
  <%= @soldier.other_family_members_1870 %>
<br />
  <b>Sutherlin interactions:</b>
  <%= @soldier.sutherlin_interactions %>
<br />
  <b>Cause of wartime death:</b>
  <%= @soldier.cause_of_wartime_death %>
<br />
  <b>Id:</b>
  <%= @soldier.id %>
<br />
  <b>Moved away:</b>
  <%= @soldier.moved_away %>
</p>


<%= link_to 'Edit', edit_soldier_path(@soldier) %> |
<%= link_to 'Back', soldiers_path %>
